

*{
 margin: 0;
 padding: 0;
    font-family: Cochin, Rockwell;
}


.myNav{
    background-color: rgb(153, 102, 153);
    color: bisque;
    box-shadow: 1px 8px 4px bisque;
    padding: 20px;
}

.heading{
    text-align: center;
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2015/12/03/08/50/paper-1074131_640.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.quote{
    text-align: center;
    margin-top: 200px;
    font-weight: bold;
    font-size: 50px;

}

.myBtn{
    background-color: rgb(153, 102, 153);
    margin-top: 100px;
    padding: 30px;
    font-size: large;
    border: none;
    border-radius: 5px;
    position: relative;
    left: 35%;
    margin-right: 100px;
}

.myBtn:hover{
    background-color: antiquewhite;
    color: red;
}


.ruler{
    border: 3px solid antiquewhite;
}
